<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendaration</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/semantic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
    <header>
        <h1 id="title"></h1>
        <button onclick="PrevMonth(year, month);">prev</button>
        <button onclick="NextMonth(year, month);">next</button>
    </header>
    <section>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>일</th>
                    <th>월</th>
                    <th>화</th>
                    <th>수</th>
                    <th>목</th>
                    <th>금</th>
                    <th>토</th>
                </tr>
            </thead>
            <tbody id="calendarTableBody">
            </tbody>
        </table>
    </section>
    {{diary_dict}}
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script type="text/javascript">
        var diary_dict = {{diary_dict|safe}};
        var year = {{this_year}};
        var month = {{this_month}};
        function PrevMonth(year, month) {
            month = month - 1;
            if(month == 0) {
                year = year - 1;
                month = 12;
            }
            var url = '/?date=' + year + '-' + month + '-1';
            window.location = url;
        };
        function NextMonth(year, month) {
            month = month + 1;
            if(month == 13) {
                year = year + 1;
                month = 1;
            }
            var url = '/?date=' + year + '-' + month + '-1';
            window.location = url
        };
        function WriteTitle(year, month) {
            var title = document.getElementById("title");
            var text = document.createTextNode(year + ". " + month);
            title.append(text);
        }

        function WriteCalendar() {
            var tableBody = document.getElementById("calendarTableBody");
            var day = 1;

            for (var i = 0; i < 6; i++) {
                if(day > {{end_date}}) {
                    break;
                }
                var tr = document.createElement("tr");
                for (var k = 0; k < 7; k++) {
                    var td = document.createElement("td");
                    if(i*7 + k < {{start_day}} + 1 || day > {{end_date}}) {

                    } else {

                        var form = document.createElement("form");
                        form.setAttribute('method', 'get');
                        form.setAttribute('action', '{% url 'Diary' %}');

                        var input = document.createElement("input");
                        input.setAttribute('type', 'hidden');
                        input.setAttribute('name', 'date');

                        var date = "{{this_year}}" + "-{{this_month}}" + "-" + day;
                        input.setAttribute('value', date);

                        var button = document.createElement("button");
                        button.setAttribute('type', 'submit');

                        var text = document.createTextNode(day);
                        button.appendChild(text);

                        var day_div = document.createElement("div");


                        form.appendChild(input);
                        form.appendChild(button);
                        day_div.appendChild(form);
                        td.appendChild(day_div);

                        var div_diary = document.createElement("div");
                        diary = diary_dict[day]
                        if(!diary) {
                        } else {
                            div_diary.appendChild(document.createTextNode(diary));
                        }
                        td.appendChild(div_diary);
                        day++;
                    }
                    tr.appendChild(td);
                }
                tableBody.appendChild(tr);
            }

        }
        WriteTitle(year, month);
        WriteCalendar();
    </script>

</body>
</html>